<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.dgit.mybatis_sample.dao.StudentDao">
	<sql id="selectSql">
		SELECT stud_id, name, email, phone FROM students
	</sql>
	
	<sql id="whereSql">
		<where>
			<if test="studId != null">
				stud_id = #{studId}
			</if>
		</where>
	</sql>

	
	<select id="selectStudentByNoWithAPI" parameterType="Student" resultType="Student">
		<include refid="selectSql"></include>
		<include refid="whereSql"></include>
	</select>
	
	<select id="selectStudentByAllWithAPI" resultType="Student">
		<include refid="selectSql"></include>
	</select>
	
	<!-- insert -->
	<sql id="insertSql">
		insert into students(stud_id, name, email, phone, dob) 
        values(#{studId}, #{name}, #{email}, #{phone}, #{dob})
	</sql>
	
	<insert id="insertStudentWithAPI" parameterType="Student">
		<include refid="insertSql"/>
	</insert>
	
	<!-- update -->
	<sql id="updateSql">
		UPDATE STUDENTS SET NAME=#{name}, EMAIL=#{email},Phone=#{phone}, DOB=#{dob}
		WHERE STUD_ID=#{studId}
	</sql>
	
	<update id="updateStudentWithAPI" parameterType="Student">
		<include refid="updateSql"/>
	</update>
	
	<!-- delete -->
	<sql id="deleteSql">
		DELETE FROM STUDENTS WHERE STUD_ID=#{studId}
	</sql>
	
	<delete id="deleteStudentWithAPI" parameterType="int">
		<include refid="deleteSql"></include>
	</delete>
	
	<!--  -->
	<sql id="selectSql2">
		SELECT stud_id, name, email, phone, dob FROM students
	</sql>
	
	<resultMap id="StudentResult" type="Student">
		<id property="studId" column= "stud_id"/>
		<result property="name" column="studid"/>
		<result property="email" column="email"/>
		<result property="phone" column="phone"/>
		<result property="dob" column="dob"/>
	</resultMap>
	
	<select id="selectStudentByAllWithAPIForResultMap" resultMap="StudentResult">
		<include refid="selectSql2"/>
	</select>	
	
	<select id ="selectStudentByAllWithAPIForMap" resultType="map">
		<include refid="selectSql2"/>
	</select>
	
	<resultMap id="StudentWithAddressResult" type="Student" extends="StudentResult">
		<result property="address.addrId" column="addr_id"/>
		<result property="address.street" column="street"/>
		<result property="address.city" column="city"/>
		<result property="address.state" column="state"/>
		<result property="address.zip" column="zip"/>
		<result property="address.country" column="country"/>		
	</resultMap>
	
	<sql id="selectJoinAddressSql">
		SELECT stud_id, name, email, phone, A.ADDR_ID, STREET, CITY, STATE, ZIP, COUNTRY
		FROM students S LEFT OUTER JOIN ADDRESSES A ON S.ADDR_ID=A.ADDR_ID
	</sql>
	
	
	<select id ="selectStudentByNoForResultMapExtendsWithAPI" parameterType="Student">
		<include refid="selectJoinAddressSql" />
		<include refid="whereSql"></include>
	</select>
	
	<!-- 내포된 결과매핑(ResultMap)을 사용한 일대일 매핑 -->
	<resultMap type="Student" id="StudentAssociation">
		<association property="address" resultMap="kr.or.mybatis_sample.dao.AddressDao.AddressResult"/>
	</resultMap>
	
	<select id="selectStudentByNoAssociationWithAPI" parameterType="Student" resultMap="StudentAssociation">
		<include refid="selectJoinAddressSql"></include>
		<include refid="whereSql"></include>
	</select>
	
</mapper>